{% extends "layout.njk" %}

     <link rel="stylesheet" type="text/css" href="styles/styles.css">
      <link rel="stylesheet" type="text/css" href="styles/global.css">


{% block content %}
{% endblock content %}