<!DOCTYPE html>
<html lang="en">


{% block head %}

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="styles/global.css">
      <link rel="stylesheet" type="text/css" href="styles/styles.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


      <title	title> Home| Your Freelancers</title>
    </head>

{% endblock %}

<body>
  
  <div class="appContainer">
  
    <div class="headerContainer">
      {# <img src="" alt="logo-yourFreelancers"> #}
      <a href="/">Encontre um Freelancer</a>
      <a href="/freelas">Encontre um Freela</a>
      {# <button type="button" class="btn btn-outline-primary">Primary</button> #}
    </div>

    <div class="mainContent">
            <h1>Contrate Freelancers, gerencie freelancers! Existe sempre uma habiliade para um Freela a ser preechido.</h1>
            <h2>Essa era a conexão que faltava!</h2>

    </div>
  </div>

    {% block content %}{% endblock%}

  
  <div id="footerContainer">

  </div>
</body>
</html>
