{% extends "layout.njk" %}

  
{% block head %}
	<title	title> Projects | Lucas Xavier </title>

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

    {% block content %}

        <div class="technologysContainer">

          <h1>
            Technologys Projects</h1>
          <!-- <section class="technologysIcons"> <div id="jsIcon"> <img id="jsIcon" src="https://xesque.rocketseat.dev/platform/tech/javascript.svg" alt="JavaScript"> <h3>JavaScript</h3> </div> <div id="nodeIcon"> <img id="nodeIcon" src="https://xesque.rocketseat.dev/platform/tech/node.svg" alt="NodeJS"> <h3>NodeJS</h3> </div> <div id="reactnativeIcon"> <img id="reactnativeIcon" src="https://user-images.githubusercontent.com/61753821/103385773-8e8f1600-4ada-11eb-885b-4392a085a27d.png" alt="ReactNative"> <h3>React Native</h3> </div> <div id="reactjsIcon"> <img id="reactjsIcon" src="https://xesque.rocketseat.dev/platform/tech/reactjs.svg" alt="ReactJS"> <h3>ReactJS</h3> </div> </section> -->
          <!-- cardInfo the technology -->

          <section class="cards">

            {%for item in items %}

              <div class="card" id="{{item.id}}">
                <img id="{{item.id}}" src="https://xesque.rocketseat.dev/platform/tech/{{item.img}}.svg" alt="{{item.title}}">
                {# {% if item.featured %}
                    <div class="featured">Featured</div>

                {% endif %} #}
                
                <h3>{{item.title}}</h3>

              </div>

            {% endfor %}

            {# <div class="card" id="meJf53tvsWw">

              <img id="nodeIcon" src="https://xesque.rocketseat.dev/platform/tech/node.svg" alt="NodeJS">
              <h3>NodeJS</h3>
            </div>
<img data-tip="TypeScript" src="https://xesque.rocketseat.dev/platform/tech/typescript.svg" alt="TypeScript" currentitem="false">
            <div class="card" id="uLHFPt9B2Os"><li data-tip="NextJS" name="NextJS" class="sc-dTLGrV iXgTlo" currentitem="false"></li>
              <img id="reactnativeIcon" src="https://user-images.githubusercontent.com/61753821/103385773-8e8f1600-4ada-11eb-885b-4392a085a27d.png" alt="ReactNative">
              <h3>React Native</h3>
            </div>

            <div class="card" id="E1E08i2UJGI">
              <img id="reactjsIcon" src="https://xesque.rocketseat.dev/platform/tech/reactjs.svg" alt="ReactJS">
              <h3>ReactJS</h3>
            </div> #}

          </section>

          <div class="modalContainer">

            <div class="modal">

              <a class="closeModal">
                <i class="material-icons">highlight_off</i>
              </a>

              <div class="modalContent">
                <iframe src="" frameborder="0"></iframe>
                <a class="viewMore" href="/viewMore">Ver mais</a>
              </div>
            </div>

            <!-- <section class="cards"> <div class="card"> <div id="cardImgBlock"> <img src="" alt="imgCard"> </div> <div id="cardTextBlock"> <h3 id="cardTitle">Tasker</h3> <p id="cardText">Tasker is the simple project for management tasks of today.</p> <a href="#" class="aboutProjectGithub">About the project on GitHub</a> <div></div> <a href="#" class="aboutProjectLinkedin" >About the project on Linkedin</a> </div> </div> </section> -->

          </div>

        </div>
      </div>

    </div>
    <script src="/scripts/scripts.js"></script>

{% endblock%}
 