/*global.css*/

:root {
    --primary-color: #0C0024;
    --second-color: #FCC92F;
    --third-color: #0F002D;

  }

  
  *{
    margin: 0;
    padding:0;
    border: 0;
  }
  

  * {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  }
  

   
 #footerContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  
  }
