.headerContainer {
    background-color: #3498DB;
    padding-bottom: 28px;
    text-align: center;

}

.headerContainer a {
    color: #FFFF;
    align-items: center;

    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    
    display: inline-block;
    padding: 4px;
    margin-right: 8px;
    margin-top: 16px                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
}